.imgs{
  width: 50%;
  text-align: center;
  margin: 0 auto;
  background-color: #212529;
}

.nav-bar{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  background-color: #121518;
}

.nav-bar > *{
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 4);
  text-decoration: none;
  padding: 10px 0;
  color: white;
}

.nav-bar > *:hover{
  color: black;
  background-color: #42bee2;
  text-decoration: none;
}

.nav-bar > .visited{
  color: black;
  background-color: #42bee2;
}

.carousel {
  width: 65%;
  margin: 0 auto;
}

.header-name {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2vh 0;
  font-family: 'Dancing Script';
  font-weight: 600;
  font-size: 64px;
  background-color: #030303;
  color: white;
}

.header-name > span{
  display: flex;
  width: 100%;
  justify-content: center;
}

.header-name p {
  font-size: 32px;
}

.main-body {
  width: 100%;
  background: #212529;
  padding-top:10px
}

.dot {
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}

.donation{
  display: flex;
  width: 100%;
  padding-bottom: 15vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color:white;
}

.donation > *{
  width: 100%;
  text-align: center;
}

.donate{
  background-color: black;
  color:white;
  border: 2px solid black;
}

.donate:hover{
  background-color: gray;
  color:white;
  border: 2px solid gray;
}

.wedding-party{
  width: 100%;
  text-align: center;
  background-color: #212529;
  color: white;
}

.gallery{
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: left;
}
.gallery > * > h2 {
  text-align: center;
}

.gallery > * > p{
  text-indent: 2.0rem;
  margin: 0 2.0rem;
  padding-bottom: 2.0rem;
}

.gallery > * {
  width: 40%;
  margin: 0 5%;
  margin-bottom: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  color: white;
}

.gallery > * > img{
  height: 400px;
  object-fit: contain;
}

.contact > h1 {
  text-align: center;
}

.contact > span > ul {
  list-style: none;
  font-size: 24px;
}

.contact > span {
  display: block;
  width: 90%;
  margin: 0 auto;
}

.contact {
  background: #212529;
  min-height: 76vh;
  color: white;
}